[Unit]
Description=Router Advertisement Daemon
Requires=network.target
After=network.target

[Service]
ExecStartPre=/lib/network/network-radvd-config start
ExecStart=/usr/sbin/radvd -C /etc/radvd.conf -u radvd
ExecReload=/bin/kill -HUP $MAINPID
ExecStopPost=/lib/network/network-radvd-config stop
Type=forking
PIDFile=/run/radvd/radvd.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
