[Unit]
Description=DHCPv4 Server Daemon
After=syslog.target network.target

[Service]
ExecStartPre=/usr/lib/network/helpers/dhcpd-config-helper create ipv4
ExecStart=/usr/sbin/dhcpd -d -user dhcpd -group dhcpd --no-pid

[Install]
WantedBy=multi-user.target
