[Unit]
Description=Network Connectivity
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/network init
ExecStart=/sbin/network start
ExecStop=/sbin/network stop

[Install]
WantedBy=multi-user.target
