[Unit]
Description=Network Time Service
After=syslog.target ntpdate.service

[Service]
Type=forking
ExecStart=/usr/sbin/ntpd -u ntp:ntp -g
PrivateTmp=true
ControlGroup=cpu:/

[Install]
WantedBy=multi-user.target
