[Unit]
Description=AICCU (Automatic IPv6 Connectivity Configuration Utility) on %I

[Service]
ExecStartPre=/usr/lib/network/helpers/aiccu-config-helper create %I
ExecStart=/usr/sbin/aiccu start /run/network/%I/aiccu.conf
ExecStop=/usr/sbin/aiccu stop /run/network/%I/aiccu.conf
ExecStopPost=/usr/lib/network/helpers/aiccu-config-helper remove %I

UtmpIdentifier=%I

# WARNING: never run AICCU from DaemonTools or a similar automated
# 'restart' tool/script. When AICCU does not start, it has a reason
# not to start which it gives on either the stdout or in the (sys)log
# file. The TIC server *will* automatically disable accounts which
# are detected to run in this mode.
Restart=no
