[Unit]
Description=Link Layer Discovery Protocol Daemon
After=network.target

[Service]
ExecStart=/usr/sbin/lldpd -d -k
Restart=on-failure

[Install]
WantedBy=multi-user.target
