[Unit]
Description=Configure CPU power related settings
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/cpupower frequency-set -g ondemand
ExecStop=/usr/bin/cpupower frequency-set -g performance

[Install]
WantedBy=multi-user.target
