[Unit]
Description=Rapid Spanning Tree Protocol Daemon
Before=network.service

[Service]
RemainAfterExit=yes
ExecStart=/sbin/rstpd -d

[Install]
WantedBy=multi-user.target
