[Unit]
Description=hostap daemon on %I

[Service]
ExecStartPre=/usr/lib/network/helpers/hostapd-config-helper create %I
ExecStart=/usr/sbin/hostapd -P /run/hostapd/%I.pid /run/network/ports/%I/hostapd.conf
ExecStopPost=/usr/lib/network/helpers/hostapd-config-helper remove %I
Restart=on-failure
UtmpIdentifier=%I
KillMode=process
