[Unit]
Description=hostap daemon on %I

[Service]
ExecStart=/usr/sbin/hostapd -P /run/network/hostapd/%I/pid /run/network/hostapd/%I/config
UtmpIdentifier=%I
KillMode=process
