[Unit]
Description=Samba NMB Daemon
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/nmbd

[Install]
WantedBy=multi-user.target
