[Unit]
Description=Samba Winbind Daemon
After=syslog.target network.target nmb.service

[Service]
Type=forking
ExecStart=/usr/sbin/winbindd

[Install]
WantedBy=multi-user.target
