[Unit]
Description=Icecream daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/sbin/iceccd -vvv -d -s localhost -m 2 -l /var/log/iceccd.log

[Install]
WantedBy=multi-user.target
