[Unit]
Description=NTP client/server
After=syslog.target ntpdate.service
Conflicts=ntpd.service

[Service]
EnvironmentFile=-/etc/sysconfig/chronyd
ExecStart=/usr/sbin/chronyd -n -u chrony $OPTIONS

[Install]
WantedBy=multi-user.target
