[Unit]
Description=PowerDNS DNS Server Daemon
After=syslog.target

[Service]
ExecStart=/usr/sbin/pdns_server --daemon=no
ExecReload=/usr/bin/pdns_control cycle
ExecStop=/usr/bin/pdns_control quit
Restart=on-failure

[Install]
WantedBy=multi-user.target

