[Unit]
Description=pNFS block layout mapping daemon
Wants=var-lib-nfs-rpc_pipefs.mount
Requires=var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
ExecStart=/usr/sbin/blkmapd

[Install]
WantedBy=multi-user.target
