[Unit]
Description=Secure NFS
Requires=var-lib-nfs-rpc_pipefs.mount
After=syslog.target var-lib-nfs-rpc_pipefs.mount

[Service]
Type=forking
StandardError=syslog+console
ExecStart=/usr/sbin/rpc.gssd

[Install]
WantedBy=multi-user.target
