[Unit]
Description=Multiple Spanning Tree Protocol Daemon
Before=network.service

[Service]
ExecStart=/sbin/mstpd -d
Restart=always

[Install]
WantedBy=multi-user.target
