[Unit]
Description=LVS and VRRP High Availability Monitor
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/keepalived

[Install]
WantedBy=multi-user.target
