[Unit]
Description=wpa_supplicant for %I.

[Service]
ExecStart=/usr/lib/network/helpers/wpa_supplicant %I
PIDFile=/run/wpa_supplicant-%I.pid
Restart=on-failure
UtmpIdentifier=%I
KillMode=process
