[Unit]
Description=Point-to-Point protocol daemon on %I

[Service]
ExecStart=/usr/lib/network/helpers/pppd-angel %I
UtmpIdentifier=%I
KillMode=process
