[Unit]
Description=Miredo - Teredo IPv6 Tunneling Client For Unix on %I
BindTo=dev-%I.device
After=dev-%I.device

[Service]
ExecStartPre=/usr/lib/network/helpers/miredo-config-helper create %I
ExecStart=/usr/sbin/miredo -f -c /run/network/miredo/%I/client.conf -p /run/network/miredo/%I/client.pid
ExecStopPost=/usr/lib/network/helpers/miredo-config-helper remove %I
Restart=always
UtmpIdentifier=%I
KillMode=process
