[Unit]
Description=Command Scheduler
After=syslog.target auditd.service systemd-user-sessions.service

[Service]
ExecStart=/usr/sbin/crond -n

[Install]
WantedBy=multi-user.target
