[Unit]
Description=Simple Network Management Protocol Daemon

[Service]
Type=forking
ExecStart=/usr/sbin/snmpd -c /etc/snmpd.conf

[Install]
WantedBy=multi-user.target
